<%- include('partials/header') %>
<%- include('partials/profile-bar') %>

<div class="postView" id="feed">
    <% Posts.forEach( (post) => {%>
    <div class="viewPost">
        <div class="viewPost-heading">
            <img src="post-profile.png" />
            <h3><%= 'USER-' + (post.name) % 10**8  %></h3>
        </div>
        <p><%=post.content%></p>
        <span class="date"><%=post.time%></span>
    </div>
    <% }) %>
</div>


<%- include('partials/footer') %>