<%- include('partials/header') %>
<%- include('partials/profile-bar') %>

<div class="postView" id="feed">
    <% function dots(str,len) { %>
        <% return str.length > len ? "..." : " " %>
    <% } %>
    
    <% for(let i = (Posts.length - 1); i>=0; i--) {%>
    <div class="viewPost">
        <div class="viewPost-heading">
            <img src="post-profile.png" />
            <h3><%= Posts[i].title.substr(0,25) + dots(Posts[i].title,25) %></h3>
        </div>
        <% let str = (Posts[i].content).substr(0,220)%>
        <p class="viewPost-content"><%=  str + dots(Posts[i].content,220) %></p>
        <span class="date"><%=Posts[i].time%></span>
        <span class="see-post"><a href="/read/<%= Posts[i]._id %>"> Read </a></span>
    </div>
    <% } %>

</div>


<%- include('partials/footer') %>